body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
}

main *{
    border-radius: 12px;
}

.outer-container{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    width:350px;
    height: fit-content;
    margin-top: 20px;
}

article{
    width: fit-content;
}
#nft-card{
    background-color: hsl(216, 50%, 16%);
    padding: 20px auto 10px auto;
    padding-top: 300px;
}
#card-img{
    position: relative;
}
#card-img-hover{
    position: absolute;
    width: 70px;
    height: 70px;
    top: -300px;
    left: 0;
    aspect-ratio: 1;
    background: linear-gradient(
        rgba(26, 248, 248, 0.83),
        rgba(26, 248, 248, 0.83)
    );
    padding: 100px;
}
#card-img-before:hover{
    opacity: 0.7;
}
#card-img-before{
    position: absolute;
    width: 270px;
    height: 270px;
    top: -300px;
    left: 0;
    aspect-ratio: 1;
}

.description{
    padding: 35px;
}
.description-header{
    font-size: 24px;
    font-weight: 600;
    font-size: large;
    color: white;
}
.description-content{
    color: lightgray;
    font-size: 18px;
    /* word-wrap: break-word; */
    width: 100%;
}

#card-info{
    display: flex;
}
#card-info figure{
    margin: 5px;
}
#card-info span{
    width: 40%;
    margin-left: 10px;
}
#eth-amount{
    color: hsl(178, 100%, 50%);
    position:relative;
    top:5px;
}
#time-left{
    color: hsl(215, 51%, 70%);
    position:relative;
    top:5px;
}

.divider{
    border: 0.1px solid rgba(160, 160, 160, 0.2);
    margin: 10px auto;
}

#card-holder img{
    width: 50px;
    margin-right: 20px;
}
#card-holder span{
    position: relative;
    bottom: 20px;
    /* letter-spacing: 2px; */
}
#action{
    color: rgba(158, 152, 152, 0.637);
}
#object{
    color: white;
    margin-left: 5px;
}

#object:hover, .description-header:hover, #card-img:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}